body {
  background: darkslategray;
}

h1, h2, h3, p, li {
  padding: 0;
  margin: 0;
  font-size: 0;
  font-family: Helvetica, Arial, serif;
}

h1, h2, h3, p {
  margin: 0 0 5px 10px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 35px;
  color: yellow;
}
h2 {
  font-size: 27px;
  color: greenyellow;
}
h3 {
  font-size: 20px;
  color: darkorange;
  text-decoration: underline;
}

p {
  font-size: 20px;
  color: lightgoldenrodyellow;
}

.skills li {
  font-size: 20px;
  list-style-type: circle;
  color: tomato;
}

.contact a {
  color: cyan;
  text-decoration: none;
}
.contact a:hover {
  color: black;
  background: cyan;
}

.main {
  width: 900px;
  margin: 0 auto;
}

.header {
  border: 2px solid red;
  margin-bottom: 5px;
}

.content {
  width: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid white;
}

.content:hover, .header:hover {
  transform: rotateY(360deg);
  transition-duration: 2s;
}