/* ========= RESET STYLE ========= */

a, body, div, h1, h2, h3, h4, header, img, li, main, p, ul  {
  font-family: Helvetica, Arial, serif;
  margin: 0;
  padding: 0;
  font-size: 0;
}


/* ========= GENERAL TAGS ========= */

a, li, p {
  font-size: 20px;
}
body {
  background: #7B85F5;
}
h1, h2, h3, p {
  margin: 0 0 5px 10px;
}
h1, h2, h4 {
  text-align: center;
}
h1 {
  font-size: 35px;
  color: #C8FF39;
}
h2 {
  font-size: 30px;
  color: #CEFFF6;
}
header {
  padding: 5px 0;
  width: 100%;
  background: #54629A;
}
main {
  width: 1200px;
  display: block;
  margin: 10px auto 20px auto;
  background: #BABFF5;
  padding: 3px;
}
p {
  color: #0A22AB;
}
ul {
  margin: 0 0 0 30px;
}


/*  ========= SPECIFIC TAGS ========= */

/* ===== PAGE SECTIONS ===== */

h3.sectionTitle {
  font-size: 25px;
  font-weight: bold;
  color: #3F4D72;
  margin: 20px 0 5px 10px;
}


/* ===== SKILLS ===== */

.skills li {
  list-style-type: circle;
  color: #AC35FF;
}


/* ===== CONTACT ===== */

.contact a {
  color: #FFE200;
  font-weight: bold;
  text-decoration: none;
}
.contact a:hover {
  color: #000000;
  background: #FFE200;
}


/* ===== BADGES ===== */

div#badges {
  text-align: center;
  padding: 0;
}


div.courseDetails {
  display: inline-block;
  vertical-align:top;
  background: #545FD1;
  width: 200px;
  height: 270px;
  padding: 5px;
  margin: 0 10px 10px 0;
  text-align: center;
  border-radius: 5px;
}

div.courseDetails h4.courseTitle {
  font-size: 20px;
  color: white;
  height: 70px;
  margin: 5px 0 0 0;
}

div.courseDetails img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto 15px auto;
}

main, div.courseDetails a {
  border-radius: 3px;
}
div.courseDetails a {
  color: #5B5F5F;
  font-size: 18px;
  text-decoration: none;
  bottom: 0;
  display: block;
  text-align: center;
  background: #C5F6FF;
  margin: 0 10px;
}
div.courseDetails a:hover {
  color: black;
  background: #7EE3F5;
  border: 1px solid black;
}
div.courseDetails a:hover:active {
  color: black;
  background: #4ABED2;
  border: 1px solid black;
}